
@* this layout is fallback to razor - for razor pages *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        <div class="navbar navbar-expand-sm border-bottom mb-3 d-sm-inline-flex ">
            
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        start
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Experiment/Index">
                        experiment
                    </a>
                </li>
            </ul>
        </div>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
