.MainContent {
    width:800px;
    margin-left:85px;
    text-align:center;
}

.mainpage-btn-div {
    background-color: blueviolet;
    background-clip: inherit;
    text-align: center;
}

.NavSpace {
    text-align: center;
    background-color: #4125da;
}

.NavSpace button {
    height: auto;
    display: inline-block;
    margin-left: 50px;
    margin-right: auto;
    padding: 0, 40px, 0, 20px;
    border: 0;
    background-color: blueviolet;
    background-clip:inherit;
    text-align:center;
}

/*
    C# Logo
*/

.mainpage-cslogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 80px;
    max-width: 500px;
    max-height: 500px;
}

/*
    Buttons
*/

.mainpage-btn {
    padding: 2px;
    font-family: 'Manjari', sans-serif;
    font-size: 16px;
    color: blanchedalmond;
    height: 25px;
    border: none;
    display: inline-block;
    background-color: blueviolet;
}

/*
    Text
*/

.mainpage-Header {
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
}

.mainpage-ContentBlock{
    width:650px;
    padding-left: 175px;
    text-align:justify;
    font-size: 22px;
    font-family: '-apple-system', sans-serif;
    margin-right: 225px;
    display:inline-block;
    border-width:0;
}
