@inherits LayoutComponentBase
@using System.Security.Claims
@inject ClaimsPrincipal currentUser

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="top-row">
        <CSInn.Presentation.Blazor.Pages.Login />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
